.logo > img {
  height: 50px;
  width: 100px;
  margin-right: 10px;
  mix-blend-mode: multiply;
}

.searchbar {
  margin-top: 40px;
  margin-left: 300px;
  margin-right: 300px;
}

.allResults {
  margin-top: 60px;
  margin-left: 300px;
  margin-right: 300px;
}

.result {
  display: flex;
  flex: 1;
  background-color: var(--gray-light);
  margin-bottom: 60px;
}

.textSide {
  flex: 0.7;
  margin-left: 10px;
}

.textSide > h1 {
  font-size: 32px;
}

.textSide > p {
  font-size: 16px;
}

.imageSide {
  flex: 0.3;
}

.imageSide > img {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 10px;
  height: 150px;
  margin-bottom: 10px;
  border: 5px solid var(--text-color);
}
